body {
  height: 100%;
}
.Signin {
  width: 50%;
  height: 100%;
  display: flex;
  margin: 12rem auto;
  justify-content: center;
  padding: 1rem 0.05rem;
  align-items: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 1rem;
  max-height: 100vh;
  overflow: hidden;
}
.Signin .img-container {
  height: 100%;
  width: 55%;
  object-fit: contain;
  margin-left: -1rem;
}
.Signin .img-container > img {
  width: 120%;
  height: 120%;
}

.Signin .img-container > img:hover {
  height: 150%;
  width: 150%;
  margin: 0 0 0 -2.5rem;
  transition-duration: 1s;
}

.signin-container {
  padding: 1rem;
  padding-left: 0;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.signin-container .title {
  text-transform: uppercase;
  font-size: 1.5rem;
  font-weight: 400;
}

.signin-container > form {
  display: flex;
  align-items: center;
  margin: 1rem 0;
  flex-direction: column;
  line-height: 1.7rem;
}

.signin-container > form > label {
  text-transform: uppercase;
  font-size: 0.8rem;
  letter-spacing: 0.12rem;
  display: flex;
  flex-direction: column;
}

.signin-container .input {
  margin: 0.25rem 0rem;
  border: 0.5px groove rgba(211, 211, 211, 0.329);
  height: 1.5rem;
}

.signin-container .forget-pass {
  width: 100%;
  display: flex;
  justify-content: end;
}
.signin-container .forget-pass > a {
  text-transform: capitalize;
  font-size: 0.915rem;
  text-decoration: none;
  color: rgba(147, 147, 147, 0.75);
}
.signin-container .forget-pass > a:hover {
  color: #403e57;
  font-size: 1rem;
  transition-duration: 0.5s;
}

.signin-container .button {
  margin: 1rem 0rem;
  width: 100%;
  display: flex;
  justify-content: start;
}
.signin-container .button > button {
  border: none;
  padding: 0.75rem 2rem;
  border-radius: 1rem;
  background-color: #403e57;
  color: #fff;
  font-size: 0.75rem;
  font-weight: 700;
}

.signin-container .button > button:hover {
  background-color: #fff;
  color: #fad7a0;
  border: #403e57 0.5px solid;
  transition-duration: 0.5s;
}

@media screen and (max-width: 1000px) {
  .Signin {
    width: 75%;
    transition-duration: 1s;
  }
}

@media screen and (max-width: 650px) {
  .Signin {
    flex-direction: column;
    margin-top: 8rem;
  }
}
